{% load static %}
<html>
<head>
	<title>Mini Blog</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Главная</a></li>
			    <li><a href="/admin">Админ панель</a></li>
			    
			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">
				
				<div class="projects">
					<h4>{{ post.title }}</h4>
                    <p align= "center">
                        <img src="{{ post.image.url }}" width="50%"/>
                    </p>
						<div class="text left">
							<p>{{ post.text }}</p>
							<p><h2>Автор:</h2> {{ post.author }} </p>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			<div class = 'form-comment'>
				<h2>Оставить комментарий</h2>
				<div>
					<form action="{% url 'add_comments' post.id %}" method="post">
						{% csrf_token %}
						<div>
							<table>Ваш комментарий</table>
							<textarea name = 'comm_text'></textarea>
						</div>
						<div>
							<label>Ваше имя: *</label>
							<input type="text" name="name">
						</div>
						<div>
							<label>Ваш email: *</label>
							<input type="email" name="email">
						</div>
						<input type ="submit">
					</form>
				</div>
			</div>
			<div>
				{% for comment in post.comments_set.all %}
				<div class="view-comment">
					<h4>{{ comment.name }}</h4>
					<p>
						{{ comment.comm_text }}
					</p>
				</div>
				{% endfor %}
			</div>
			
			<div class="cl">&nbsp;</div>
		</div>
		

	</div>
</div>
</body>
</html>